.vscode
a.out
parts/*
hexdump
hexdump_reconstruct
LDC.pdf
*_reconstruct*
a.txt
a_reconstruct.txt
encode
decode
decode_rs
test*
test.py
pckl
uploads.csv
downloads.csv
CMakeFiles
CMakeFiles/*
CMakeCache.txt
compile_commands.json
cmake_install.cmake
Makefile
mumbai.pem
libs/isa-l
.vscode
files
files/*
backup
backup/*
*.csv
temp.py
key_ids
pckl_*
trace.csv