.vscode
a.out
parts/*
hexdump
hexdump_reconstruct
LDC.pdf
*_reconstruct*
a.txt
a_reconstruct.txt
encode
decode

CMakeFiles
CMakeFiles/*
CMakeCache.txt
CMakeLists.txt
compile_commands.json
cmake_install.cmake
Makefile

libs
libs/*
.vscode